<ul>
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <li>
        <div class="comment-area_view">
          <%= image_tag profile_image_mini_url(comment.user) %>
          <div class="comment_text">
            <%= comment.user.name %>　
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i> 
            <%= comment.content %>　- 
            <%= comment.created_at.strftime("%Y.%m.%d %H:%M") %>
            <div class="comment_edit">
              <%= link_to '編集', edit_post_comment_url(comment.post_id,comment) %>
              <%= link_to '削除', post_comment_url(comment.post_id,comment), method: :delete, remote: true, data: { confirm: 'コメントを削除します。よろしいですか？' } %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
