<% unless user.id == current_user.id %>
  <% if current_user.following?(user) %>
    <% if current_user.followed?(user) %>
      <p>あなたの友達です</p>
      <%= form_for(current_user.relationships.find_by(receiver_id: user.id), html: {method: :delete},  remote: true) do |f| %>
        <%= f.submit "解除する", class: "btn btn_cancel" %>
      <% end %>
    <% else %>
      <p>友達リクエスト送信済み</p>
      <%= form_for(current_user.relationships.find_by(receiver_id: user.id), html: {method: :delete},  remote: true) do |f| %>
        <%= f.submit "取り消す", class: "btn btn_cancel" %>
      <% end %>
    <% end %>
  <% else %>
    <% if current_user.followed?(user) %>
      <p>友達リクエストが届いています</p>
      <%= form_for(current_user.relationships.build(receiver_id: user.id), remote: true) do |f| %>
        <%= f.hidden_field :receiver_id %>
        <%= f.submit "受諾する", class: "btn btn_accept" %>
      <% end %>
    <% else %>
      <p>友達になりますか？</p>
      <%= form_for(current_user.relationships.build(receiver_id: user.id), remote: true) do |f| %>
        <%= f.hidden_field :receiver_id %>
        <%= f.submit "申請する", class: "btn btn_friend" %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <br />
  <div class="btn btn_setting">
    <a href="<%= edit_user_registration_url %>">
      <i class="fa fa-cog" aria-hidden="true"></i>
      <span>アカウント設定</span>
    </a>
  </div>
<% end %>