<div class="footer">
  <div class="footer-develop">
    <ul class="menu-list">
      <li># 開発用メニュー</li>
      <li>[</li>
      <li><%= link_to 'User', '' %></li>
      <li><%= link_to 'Blog','' %></li>
      <li><%= link_to 'Task','' %></li>
      <li><%= link_to 'Question','' %></li>
      <li><%= link_to 'Contact','' %></li>
      <li>]</li>
    </ul>
  </div>
</div>