<div class="regist-container">
  <h2>ログイン</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <h3>メールアドレスでログイン</h3>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form_field" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form_field" %>
    <% if devise_mapping.rememberable? -%>
    <div class="form_field">
      <%= f.check_box :remember_me %>
      パスワードを保存する
    </div>
    <% end -%>
    <%= f.submit "ログインする", class: "form_submit" %>
    <div class="form_footer">
      <a href="<%= new_password_url(resource_name) %>">パスワードを忘れた方はこちら</a>
    </div>
    
  <% end %>
  
  <div class="regist-social_signup">
    <h3>SNSアカウントでログイン</h3>
    <div class="form-signup">
      <ul>
        <li>
          <a href=<%= user_facebook_omniauth_authorize_url %> class="btn-signup btn-facebook">
            <i class="btn-icon_box fa fa-facebook" aria-hidden="true"></i>
            <p>Facebookでログイン</p>
          </a>
        </li>
        <li>
          <a href=<%= user_twitter_omniauth_authorize_url %> class="btn-signup btn-twitter">
            <i class="btn-icon_box fa fa-twitter" aria-hidden="true"></i>
            <p>Twitterでログイン</p>
          </a>
        </li>
        <li>
          <p>許可なくSNSに投稿することはありません。</p>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="footer-link-to-login">
    <a href="<%= new_user_registration_url %>">新規登録する場合はこちら</a>
  </div>
  
</div>
<%= render "shared/footer" %>