<% @posts.each do |post| %>
  <div class="post-container">
    
    <div class="post-body">
      
      <div class="post-header">
        <h3><%= post.title %></h3>
        <p>
          <em>投稿日:<%= post.created_at %></em>　
          <em>投稿者:<%= post.user.name %></em>　
        </p>
      </div>
      
      <div class="post-content">
        <%= post.content %>
      </div>
      
    </div>
    
    <%= render partial: 'comments/index' , locals: {comments: @comments[post.id], post_id: post.id} %>
    <%= render partial: 'comments/form' , locals: {comment: @comment[post.id]} %>
  </div>
<% end %>